%h1 Certificates

%h2 Total
%dl.dl-horizontal
  %dt Certificates
  %dd= Certificate.count

.row
  .col-md-6
    %h2 CA and Self-Signed
    %dl.with-charts
      - [true, false].each do |b1|
        - [true, false].each do |b2|
          %dt CA=#{b1.inspect} Self-Signed=#{b2.inspect}
          %dd= Certificate.where(is_self_signed: b1, is_ca: b2).count
  - %w( signature_algorithm key_algorithm key_size ).each do |field|
    .col-md-6
      %h2= field.titleize
      %dl.dl-horizontal.with-charts.with-charts
        - Stats.field_count(:certificates, field).each do |record|
          %dt= record[0]
          %dd= record[1]


%h2 Validity Period

%span.badge TODO
