%h1 Statistics

%h2 Total
%dl.dl-horizontal
  %dt Domains
  %dd= Domain.count
  %dt MX Hosts
  %dd= MxHost.count

%h2 STARTTLS
%dl.dl-horizontal.with-charts
  %dt supported
  %dd= MxHost.where(starttls: true).count
  %dt unsupported
  %dd= MxHost.where(starttls: false).count
  %dt unreachable
  %dd= MxHost.where(starttls: nil).count

%h2 Certificates
%dl.dl-horizontal.with-charts
  %dt valid
  %dd= MxHost.where(cert_valid: true).count
  %dt invalid
  %dd= MxHost.where(cert_valid: false).count

%h2 TLS Versions
%dl.dl-horizontal.with-charts.with-charts
  - Stats.tls_versions.each do |record|
    %dt= record.tls_version
    %dd= record.count

%h2 TLS Cipher Suites
%dl.with-charts
  - MxHost.where("tls_cipher_suite IS NOT NULL").select("tls_cipher_suite, COUNT(*) AS count").group(:tls_cipher_suite).order(:tls_cipher_suite).each do |record|
    %dt= record.tls_cipher_suite
    %dd= record.count

%h2 Top Issuers
%table.table.table-condensed.table-striped.table-hover
  %tr
  %tbody
    = render partial: 'subject', collection: Stats.issuers
